*
{
  box-sizing: border-box;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

.lang{
  margin-left: 778px!important;
  margin-top: -56px!important;
}

.lang li{
  padding: 5px !important;
}

nav{
  position: fixed;
  width: 100%;
  height: 90px;
  z-index: 3;
}

nav ul{
  padding-top: 40px;
  padding-left: 341px;
  overflow: hidden;
  transition: 1s;
}

nav ul li{
  display: inline;
  padding: 50px;
}

nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  letter-spacing: 2px;
}

nav ul li a:hover{
  color: #8fbcbb;
}

nav.new-design{
  background: white;
}
/*
nav.new-design ul li{
  padding-right: 155px;
}
*/

nav.new-design ul li a{
  text-decoration: none;
  color: black;
  font-size: 18px;
  letter-spacing: 2px;
}

nav.new-design ul li a:hover{
  color:green;
}

.active{
  border-bottom: 5px solid grey;
  /*position: fixed;*/

}
/*
.projects{
  top: -12px;
  left: 730.083px;
  position:fixed;

}
*/

li a.active:hover{
  border-bottom-color: green!important;
}



.menu li a:hover{
  border-bottom: 5px solid #00fa9a;
  /*position: fixed;*/
}


.slideshow{
  height: auto;
  overflow: hidden;
  margin-bottom: -10px;
}

.slideshow video{
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.slideshow h1{
  padding-left: 410px;
  padding-top: 250px;
  z-index: 2;
  font-size: 45px;
  position: absolute;
  color: white;
  text-shadow: 4px 2px black;
}


.content{
  position: relative;
  z-index: 1;
  width: auto;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-image: url("../img/background.png");

}

.introduction{
  position: static;
}

.introduction h1{
  padding-top: 20px;
  padding-left: 600px;
}

.member1{
  margin-top: 40px;
  margin-left: 100px;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.member2{
  margin-top: 40px;
  margin-left: 240px;
  z-index: 1;
  position: relative;
  display: inline-block;
}


.member3{
  margin-top: 40px;
  margin-left: 240px;
  z-index: 1;
  position: relative;
  display: inline-block;
}

.intro{
  background-color: rgba(17, 17, 17, 0.5);
  width: 150px;
  height: 60px;
  margin-top:164px;
  right: 62px;
  position: absolute;
  display: inline-block;
}

.intro h4{
  color:white;
  padding-top: 20px;
  padding-left: 15px;
}

footer h4{
  padding-left: 535px;
  padding-top: 80px;
}
